{% extends "base.html" %}



{%- block title %} {{ TITLE }} {% endblock title -%}

{% block headers %}
    {{ super() }}
{% endblock %}

{%- block content %}
<h1> {{ session.user.email }} add a key </h1>

{% if errors %}
<ul>
  {% for e in errors %}
    <li>{{ e }}</li>
  {% endfor %}
</ul>
{% endif %}

<form action={{ request.route_url("user/addkey") }} method=post>
  <textarea name=key></textarea>
  <input type=hidden name=csrf value="{{ session.csrf_token(request.route_url("user/addkey")) }}"></input>
  <button type=submit>Add this key</button>
</form>

{% endblock content -%}

